.photo-grid {
  margin: 0 48px 92px 48px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px 16px;
}
@media screen and (max-width: 1200px) {
    .photo-grid {
        margin 0 auto;
      width: 720px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 16px 16px;
      margin-bottom: 88px;
    }
  }
  @media screen and (max-width: 720px) {
      .photo-grid {
          margin: 0;
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 12px 12px;
        margin-bottom: 64px;
      }
    }