.photo-grid__item {
  max-width: 284px;
}
@media screen and (max-width: 1200px) {
  .photo-grid__item {
    max-width: 352px;
  }
}
@media screen and (max-width: 720px) {
  .photo-grid__item {
    max-width: 288px;
  }
}
