.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 25px 0 0;
}
.place__paragraph:first-of-type {
  margin-top: 0;
}
@media screen and (max-width: 1000px) {
  .place__paragraph {
    font-size: 16px;
  }
}
@media screen and (max-width: 720px) {
  .place__paragraph {
    grid-area: paragraph;
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
