.intro {
  max-width: 785px;
  margin: 92px 0px 118px -265px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 720px) {
  .intro {
    margin-bottom: 90px;
  }
}
