.place {
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  grid-gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
  .place:nth-of-type(5) {
    margin-bottom: 0;
  }
}
