.place {
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  max-width: 987px;
  gap: 48px 40px;
  grid-template-columns: 415px 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin-bottom: 90px;
}
.place:last-of-type {
  margin-bottom: 90px;
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
  .place:last-of-type {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    margin-bottom: 64px;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
    grid-template-areas:
      "title"
      "artist"
      "name"
      "image"
      "text"
      "button";
  }
  .place:last-of-type {
    margin-bottom: 64px;
  }
}
