.place__artist-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 8px 0 0 0;
  grid-area: text;
}
@media screen and (max-width: 720px) {
  .place__artist-name {
    margin-bottom: 30px;
    margin-top: 0;
    line-height: 22px;
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
