.button {
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #0278fe;
  border-radius: 4px;
  border: none;
  width: fit-content;
  height: min-content;
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.button:hover {
  background: #0063d2;
}
